/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
.body {
}

header {
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #333;
    z-index: 1;
}

main {
    padding: 100px 0;
}


h1 {
    color: blueviolet;
}

img {
    max-width: 300px;
}
/* utilities */

.conteiner {
    max-width: 940px;
    margin: 0 auto;
}


/* header */
.navbar {
    height: 80px;
}


/* main */
.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.col {
    flex-basis: calc(100 / 3);
}

.card {
    position: relative;
}

.row .margintop10px{
    margin-top: 10px;
}

.text {
    margin-bottom: 50px;
    line-height:120%
}

.discount {
    position: absolute;
    left: 0;
    bottom: 90px;
    padding: 2px 5px;
}

.discount-sn {
    position: absolute;
    left: 50px;
    bottom: 90px;
    padding: 2px 5px;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-grey {
    background-color: #ffffff;
}

.heart {
    top: 5px;
    right: 0;
    background-color: #ffffff;

}