/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
.body {
}

header {
    background-color: #ff6900;
}
h1 {
    color: blueviolet;
}

/* utilities */

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}


/* header */
.navbar {
    height: 80px;
}

